

  
  header, footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: purple;
    color: white;
    align-items: flex-end;
    margin-top:2vh;
    
  }
  nav, .links {
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
  }
  
  h1 {
  font-size: 220%;
  }
  h2 {
      font-size: 150%;
        padding-left: 10px;
        
  }
  a {
        color: white;
  }
  a:hover {
    color: violet;
  }
  main {
    display:flex;
      flex-wrap: wrap;
  }
  .about-section, .work-section {
      display:flex;
      flex-direction:row;
      background: purple;
      color: white;
      margin-top:2vh;
      padding:2vh;
  }
   
    
  p {
  margin-top: 2%;
  margin-left: 2%;
  }
.section-heading {
  font-size: 320%;
  padding-right: 6vh;

  text-align: right;
}
.text-block {
  position:relative;
  bottom: 20px;
  left: 20px;
  
  width: 150px;
  background-color: white;
  color: purple;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
img { 
  border: 3px solid purple; 
} 
img:hover { 
  border: 6px solid white; 
} 
@media screen and (max-width: 992px) {
 
  footer {
    display:inline-block;
  }
  .section-heading {
   font-size:200%;
  }
  .about-section, .work-section {
    display:flex;
    flex-direction:column;
  }
  p {
    font-size: 120%;
  }
  h1 {
    font-size: 400%;
  }
  h2 {
    font-size: 250%;
  }
  h4 {
     font-size:200%;
  }
  .row {
    display:block;
    padding: 5px;
  }
  .text-block {
    width: 300px;
    height: 80px;
  }
}